@media all and (max-width:670px) {
    .top-cover {
        width:50%;
        padding:0;
        margin:0;
    }
    
    img {
        padding:0;
        margin:0;
    }
    
    .title-header {
        font-size:14px;
        text-align:center;
        padding-top:5px;
        padding-left:10px;
    }
    
    .list-header li {
        font-size:11px;
        padding: 10px 20px;
    }
    
    .list-header {
        margin-right:10px;
    }
    
    .text-about-me {
        font-size:13px;
        margin-right:25px;
    }
    
    .text {
        font-size:13px;
    }
    
    .contacts {
        font-size:25px;
        padding-left:15px;
        padding-top:15px;
    }
    
    .social-media {
        font-size:18px;
    }
    
    .title-content {
        font-size:30px;
    }
    
    .organization {
        font-size:30px;
    }
}

@media all and (max-width:1000px) {
    .top-cover {
        width:auto;
        padding:0;
        margin:0;
    }
    
    img {
        padding:0;
        margin:0;
    }
    
    .text-about-me {
        margin-right:30px;
    }
    
    .text {
        font-size:14px;
    }
    
}
